<!DOCTYPE html>
<html lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= page_obj.nome %> <%= page_obj.cognome %> | Home</title>
    <base href="https://<%= req.get('host') %>/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="C.S.I. - Ufficio Applicazioni">
    <link rel="shortcut icon" href="https://docenti.unisa.it/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@UniSalerno">
    <meta name="twitter:title" content="Home">
    <meta name="twitter:image" content="https://docenti.unisa.it/rescue/img/logo_standard.png">
    <meta name="twitter:description" content="">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://docenti.unisa.it/<%= req.params.idprof %>/<%= req.params.tipo1 %>">
    <meta property="og:site_name" content="UNISA">
    <meta property="og:type" content="article">
    <meta property="og:ttl" content="345600">
    <meta property="og:image" content="https://docenti.unisa.it/rescue/img/logo_standard.png">
    <link rel="stylesheet" href="css/snap.min.css" media="screen" type="text/css">
    <link href="css/unisa-style.min.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body prefix="schema: https://schema.org/ uni: https://websemanticproject.celpas888.repl.co/xml/vocab_uni# geo: http://www.w3.org/2003/01/geo/wgs84_pos#">

<% var fullUrl = req.protocol + '://' + req.get('host') + req.originalUrl; %>
<% var distillerUrlTurtle = 'https://www.w3.org/2012/pyRdfa/extract?uri=' + fullUrl; %>
<% var distillerUrlXml = 'http://www.w3.org/2012/pyRdfa/extract?format=xml&uri=' + fullUrl; %>
<% var buildGraph = 'http://www.ldf.fi/service/rdf-grapher?rdf=' + distillerUrlTurtle + '&from=ttl&to=png' %>

<style>
#convert {
    background-color: #333;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid #222;
    color: white;
    text-align: center;
}
#convert a {
    color: red;
}
</style>

    <nav id="unisa-utilities-bar" class="navbar navbar-default navbar-fixed-top">
<div id="convert">
	<a href="https://<%= req.get('host') %>">Home</a> - 
	<a target="_blank" href="<%= distillerUrlTurtle %>">Convert to Turtle</a> - 
	<a target="_blank" href="<%= distillerUrlXml %>">Convert to RDFa/XML</a> - 
	<a target="_blank" href="<%= buildGraph %>">Build graph</a>
</div>


        <form id="off-rubrica" class="off-bar collapse" action="https://rubrica.unisa.it/persone">
            <div class="container no-padding">
                <label class="sr-only" for="rubrica-query">Cerca persona</label>
                <input type="text" id="rubrica-query" class="form-control " autocomplete="off" name="nome" placeholder="Cerca persona" value="" aria-label="Cerca persona">
                <ul class="typeahead dropdown-menu"></ul>
            </div>
        </form>
        <form id="off-search" class="off-bar collapse" action="https://docenti.unisa.it/unisa-rescue-page/search/id/1054/url/LzAwNTUwMS9ob21l">
            <div class="container no-padding">
                <label class="sr-only" for="search-query">Search</label>
                <input type="text" id="search-query" class="form-control " name="q" placeholder="Cerca nel sito" value="" aria-label="Cerca nel sito">
            </div>
        </form>
        <div id="off-language" class="off-bar collapse" style="background-color: #1c4772;color:#fff; text-align:right">
            <div class="container no-padding"><a href="http://docenti.unisa.it/<%= code%>/en/home" class="btn" title="English"><span><img src="images/en.png" alt="English"></span><span class="sr-only">English</span></a>
            </div>
        </div>
        <div id="off-servizi-on-line" class="off-bar collapse " style="background-color: #1c4772;color:#fff;">
            <div class="container-fluid no-padding text-center"><a style="position:relative" id="bar-servizio-on-line-1" class="list-group-item " href="https://esse3web.unisa.it/Home.do">Area Utente (ESSE3)</a>
                <a style="position:relative" id="bar-servizio-on-line-29" class="list-group-item hidden" href="https://apps.google.com/user/hub">G Suite for Education</a>
                <a style="position:relative" id="bar-servizio-on-line-12" class="list-group-item hidden" href="https://appalti.unisa.it/PortaleAppalti/it/homepage.wp">Gare d'Appalto - Albo Fornitori</a>
                <a style="position:relative" id="bar-servizio-on-line-9" class="list-group-item " href="https://hd.unisa.it/">Helpdesk</a>
                <a style="position:relative" id="bar-servizio-on-line-28" class="list-group-item hidden" href="https://web.unisa.it/servizi-on-line/idem">IDEM</a>
                <a style="position:relative" id="bar-servizio-on-line-4" class="list-group-item hidden" href="https://www.placement.unisa.it/">Job Placement <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-27" class="list-group-item hidden" href="http://archibus.unisa.it/archibus/login.axvw">Manutenzione Patrimonio</a>
                <a style="position:relative" id="bar-servizio-on-line-20" class="list-group-item hidden" href="http://web.unisa.it/servizi-on-line/matlab-x-unisa">MATLAB per UniSa <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-19" class="list-group-item hidden" href="https://easycourse.unisa.it/EasyRoom/Orario/index.php?view=rooms&amp;include=rooms&amp;_lang=it&amp;empty_box=0">Occupazione giornaliera delle aule <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-26" class="list-group-item hidden" href="https://login.microsoft.com/">Office365</a>
                <a style="position:relative" id="bar-servizio-on-line-21" class="list-group-item hidden" href="https://easycourse.unisa.it/EasyRoom/Orario/index.php?view=easycourse&amp;_lang=it&amp;empty_box=0">Orario delle Lezioni <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-10" class="list-group-item hidden" href="http://archibus.unisa.it/archibus/login.axvw">Patrimonio ed Economato (Archibus)</a>
                <a style="position:relative" id="bar-servizio-on-line-6" class="list-group-item " href="https://www.personaldesk.unisa.it/">Personaldesk</a>
                <a style="position:relative" id="bar-servizio-on-line-8" class="list-group-item hidden" href="http://web.unisa.it/servizi-on-line/prenotazione">Prenotazione Spazi ed Aule</a>
                <a style="position:relative" id="bar-servizio-on-line-3" class="list-group-item hidden" href="https://web.unisa.it/modules/presenze_studenti/studente">Presenze in Aula <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-11" class="list-group-item hidden" href="https://web.unisa.it/modules/presenze_studenti/docente">Presenze in Aula (Docente) <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-23" class="list-group-item hidden" href="https://web.unisa.it/servizi-on-line/report-aule-libere">Report Aule Libere <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-24" class="list-group-item hidden" href="https://web.unisa.it/servizi-on-line/rss">RSS <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-13" class="list-group-item " href="http://rubrica.unisa.it/">Rubrica <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-18" class="list-group-item hidden" href="https://unisa.u-web.cineca.it/#!/">Servizi Amministrativi <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-5" class="list-group-item hidden" href="https://esse3web.unisa.it/Home.do">Servizi per la Didattica (ESSE3)</a>
                <a style="position:relative" id="bar-servizio-on-line-25" class="list-group-item hidden" href="https://web.unisa.it/servizi-on-line/spid">SPID <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-16" class="list-group-item hidden" href="http://web.unisa.it/servizi-on-line/stazione-meteo">Stazione Meteo <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-17" class="list-group-item hidden" href="http://web.unisa.it/servizi-on-line/webcam">Webcam <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-7" class="list-group-item " href="https://mail.google.com/a/unisa.it">Webmail <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a style="position:relative" id="bar-servizio-on-line-15" class="list-group-item hidden" href="http://wifi.unisa.it/">Wi-Fi@UniSa <small class="badge" style="position:absolute;right:10px"><span class="fa fa-tablet" aria-hidden="true"></span></small></a>
                <a class="list-group-item" href="http://web.unisa.it/servizi-on-line/servizi"><strong>Tutti i Servizi</strong></a>
            </div>
        </div>
        <div id="off-profili" class="off-bar collapse" style="background-color: #1c4772;color:#fff; text-align:right">
            <div class="container-fluid no-padding">
                <div class="list-group" style="margin:0;text-align: center">
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=1">Futuro Studente</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=2">Studente Iscritto</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=3">Laureato</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=4">Dottorando, Borsista o Assegnista</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=5">Docente o Ricercatore</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=6">Personale Tecnico Amministrativo</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=7">Studente Internazionale</a>
                    <a class="list-group-item " href="http://web.unisa.it/unisa-rescue-page/profile/id/1054?p=8">Scuola, Ente o Impresa</a>
                </div>
            </div>
        </div>
        <div class="container" style="position:relative">
            <div class="navbar-header">
                <button style="" title="" data-placement="bottom" class="btn-language btn btn-warning navbar-toggle"><span><img src="images/it.png" alt="it" style="padding-bottom:2px"> </span> <span class="sr-only">it</span> <span class="caret"></span></button>
                <button title="" type="submit" class="btn btn-warning  navbar-toggle btn-off-profili" aria-label="Profili"><span class="fa fa-user" aria-hidden="true"></span></button>
                <button class="btn btn-warning navbar-toggle btn-off-rubrica" type="submit" data-toggle="tooltip" data-placement="bottom" title="Cerca persona" aria-label="Cerca persona"><span class="fa fa-users" aria-hidden="true"></span>
                </button>
                <button class="btn btn-warning navbar-toggle btn-search" type="submit" data-toggle="tooltip" data-placement="bottom" title="Cerca nel sito" aria-label="Cerca nel sito"><span class="fa fa-search" aria-hidden="true"></span></button>
                <button title="" type="submit" class="btn btn-warning navbar-toggle btn-off-servizi-on-line" aria-label="Servizi on Line"><span class="fa fa-cogs" aria-hidden="true"></span></button>
                <a href="https://www.unisa.it/" class="navbar-brand" accesskey="h"><img src="images/logo.png" alt="Logo UNISA">&nbsp;<span><img src="images/unisa.png" alt="Home - Università degli Studi di Salerno"></span></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-btn">
                        <button title="" data-placement="bottom" data-toggle="tooltip" type="submit" class="btn btn-warning btn-off-servizi-on-line btn-off-servizi-on-line2" data-original-title="Servizi on Line" aria-label="Servizi on Line"><span class="fa fa-cogs" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-btn">
                        <button class="btn btn-warning hidden-xs btn-search" type="submit" data-toggle="tooltip" data-placement="bottom" title="Cerca nel sito" aria-label="Cerca nel sito"><span class="fa fa-search" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-btn">
                        <button class="btn btn-warning hidden-xs btn-off-rubrica" type="submit" data-toggle="tooltip" data-placement="bottom" title="Cerca persona" aria-label="Cerca persona"><span class="fa fa-users" aria-hidden="true"></span>
                        </button>
                    </li>
                    <li class="navbar-btn">
                        <button title="" data-placement="bottom" data-toggle="tooltip" type="submit" class="btn btn-warning btn-off-profili hidden-xs" data-original-title="Profili" aria-label="Profili"><span class="fa fa-user" aria-hidden="true"></span></button>
                    </li>
                    <li class="navbar-btn">
                        <a class="btn btn-warning" href="https://docenti.unisa.it/<%= code%>/home?sitemap" title="Site Map" data-toggle="tooltip" data-placement="bottom"><span class="fa fa-sitemap"></span><span class="sr-only">Sitemap</span></a>
                    </li>
                    <li class="navbar-btn">
                        <button style="" title="" data-placement="bottom" class="btn-language btn btn-warning hidden-xs"><span><img src="images/it.png" alt="it" style="padding-bottom:2px"> </span> <span class="sr-only">it</span> <span class="caret"></span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="snap-drawers">
        <div id="snap-left" class="snap-drawer snap-drawer-left"></div>
    </div>
    <div id="content" class="snap-content" style="overflow:visible;width:100%;">
        <div class="content-fixed">
            <div style="position:relative">
                <div class="container-fluid">
                    <div id="logo-container" class="text-center" style="position:absolute;z-index:1000">
                        <a id="logo-UNISA" href="https://www.unisa.it/" title="Home UNISA">
                            <img src="images/logo_cc.png" class="logo-full" style="width:300px" alt="Logo UNISA">
                            <img src="images/logo_testo_cc.png" class="logo-testo " style="width:300px;display:none;" alt="Università degli Studi di Salerno"></a>
                    </div>
                </div>
                <div class="bg-primarsy bg-corona" id="main-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" style="height:170px">
                                <!-- <div class="text-center"><img src="images/logo_cc.png" style="width:300px" /></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu-bar" class="bg-primary" style="position: relative; box-shadow: 0px 2px 15px #000;top:0;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 no-padding">
                            <nav id="main-menu" class="navbar navbar-inverse">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <div class="navbar-brand visible-xs" style="padding:16px 32px;font-weight:200;font-variant:small-caps">Menu</div>
                                    </div>
                                    <div class="collapse navbar-collapse" id="main-menu-collapse-1">
                                        <ul class="nav navbar-nav" style="float:none">
                                            <li class=""><a href="http://docenti.unisa.it/<%= code%>/home" class="btn btn-primary"><%= page_obj.nome %> <%= page_obj.cognome %></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div id="unisa-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">
                            <div id="unisa-content" class="row bg-white">

<!-- ####################################################################################### -->
<!-- ####################################################################################### -->
<!-- Fragments -->

<% if(req.params.tipo1 == 'home') { %>
	<%- include('./fragments/home.ejs'); %>
<% } else if(req.params.tipo1 == 'didattica') { %>
	<%- include('./fragments/didattica.ejs'); %>
<% } %>

<!-- ####################################################################################### -->
<!-- ####################################################################################### -->

<% var active = 'class="active"' %>
<% var code = req.params.idprof %>
<% var baseUrl = 'https://' + req.get('host') + '/docenti/' + code + '/'; %>
<% var resMe = baseUrl + 'home#me' %>

                            </div>
                        </div>
                        <div id="unisa-left-menu" class="col-md-3 col-md-pull-9" style="background-color:#EEE">
                            <div class="row">
                                <div class="col-md-12 no-padding" style="padding:0 8px">
									<div resource="<%= resMe %>">
										<span property="schema:image" typeof="ImageObject">
                                    		<img property="schema:contentUrl" id="rescue-structure-img" src="<%= page_obj.image %>" data-original="<%= page_obj.image %>" class="img-responsive lazy " alt="Home" style="display: inline;">
										</span>
									</div>
                                    <div id="side-menu">
                                        <ul>
                                            <li class="bg-primary" style="padding:11px 16px">Docenti</li>
                                        </ul>
                                        <ul id="collapse-0" class="collapse in">
                                            <li <%- (req.params.tipo1 == 'home') ? active : '' %>>
                                                <a target="_self" href="<%= baseUrl %>home">Home
                                                </a>
                                            </li>
                                            <li <%- (req.params.tipo1 == 'curriculum') ? active : '' %>>
                                                <a target="_self" href="<%= baseUrl %>curriculum">Curriculum
                                                </a>
                                            </li>
                                            <li <%- (req.params.tipo1 == 'didattica') ? active : '' %>>
                                                <a target="_self" href="<%= baseUrl %>didattica">Didattica
                                                </a>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" href="#collapse-1" class="folder"><span class="fa fa-plus-square pull-right"></span>Ricerca
                                                </a>
                                                <ul id="collapse-1" class="collapse">
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/ricerca/progetti">Progetti
                                                        </a>
                                                    </li>
                                                    <li <%- (req.params.tipo2 == 'pubblicazioni') ? active : '' %>>
                                                        <a target="_self" href="<%= baseUrl %>ricerca/pubblicazioni">Pubblicazioni
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/ricerca/spin-off">Spin off
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/ricerca/laboratori">Laboratori
                                                        </a>
                                                    </li>
                                                </ul>

                                            </li>
                                            <li>
                                                <a data-toggle="collapse" href="#collapse-2" class="folder"><span class="fa fa-plus-square pull-right"></span>International
                                                </a>
                                                <ul id="collapse-2" class="collapse">
                                                    <li <%- (req.params.tipo2 == 'erasmus') ? active : '' %>>
                                                        <a target="_self" href="<%= baseUrl %>international/erasmus">Accordi Erasmus+ per Studio
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/international/traineeship">Accordi Erasmus+ per Traineeship
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/international/dottorato-con-tesi-in-cotutela">Dottorato con Tesi in Co-Tutela
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/international/cooperazione-internazionale">Cooperazione Internazionale
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="http://docenti.unisa.it/<%= code%>/international/doppio-titolo">Conseguimento Doppio Titolo
                                                        </a>
                                                    </li>
                                                </ul>

                                            </li>
                                            <li>
                                                <a href="http://docenti.unisa.it/<%= code%>/risorse">Materiali e Risorse
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <nav class="navbar social social-detail" style="margin:0!important">
                                                <ul class="nav nav-justifieddd" style="text-align:center;margin:0;border: 1px solid #CCC">
                                                    <li class="facebook col-md-3 col-xs-3" style="padding:0;float:left;"><span class="disabled" style="display:block;padding: 10px 15px;color:#ccc"><span class="fa fa-facebook "></span></span>
                                                    </li>
                                                    <li class="twitter col-md-3 col-xs-3" style="padding:0;float:left;"><span class="disabled" style="display:block;padding: 10px 15px;color:#ccc"><span class="fa fa-twitter "></span></span>
                                                    </li>
                                                    <li class="linkedin col-md-3 col-xs-3" style="padding:0;float:left;"><span class="disabled" style="display:block;padding: 10px 15px;color:#ccc"><span class="fa fa-linkedin "></span></span>
                                                    </li>
                                                    <li class="youtube col-md-3 col-xs-3" style="padding:0;float:left;"><span class="disabled" style="display:block;padding: 10px 15px;color:#ccc"><span class="fa fa-youtube "></span></span>
                                                    </li>
                                                </ul>
                                            </nav>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid"></div>
            <footer class="bg-footer">
                <div class="bg-inf-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 text-center" style="position:relative"><a href="https://web.unisa.it/vivere-il-campus/unisa-experience/campus-map" title="Campus Map">
                                    <h3 style="position:absolute;z-index:100;bottom:0px;text-align: center; width: 90%;text-shadow:1px 1px 1px #000">CAMPUS MAP</h3><img src="images/mappa.png" data-original="images/mappa.png" style="display: inline;" alt="UNISA" title="Campus Map" class="lazy">
                                </a></div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-unstyled">
                                            <li><a href="http://www.unisa.it/contatti">Contatti</a></li>
                                            <li><a href="http://web.unisa.it/urp">Ufficio Relazioni con il Pubblico</a></li>
                                            <li class="divider">&nbsp;</li>
                                            <li>PEC: <a href="mailto:ammicent@pec.unisa.it">ammicent@pec.unisa.it</a></li>
                                            <li>URP: <a href="mailto:urp@unisa.it">urp@unisa.it</a></li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li class="divider">&nbsp;</li>
                                            <li>Seguici su</li>
                                        </ul>
                                        <div class="btn-group btn-group-justified" aria-label="">
                                            <div class="btn-group"><a href="https://www.facebook.com/unisalerno" data-toggle="tooltip" data-placement="top" title="Seguici su Facebook" aria-label="Seguici su Facebook" class="btn btn-xs btn-facebook"><span class="icon"><span class="fa fa-facebook fa-2x"></span></span></a></div>
                                            <div class="btn-group"><a href="https://twitter.com/unisalerno" data-toggle="tooltip" data-placement="top" title="Seguici su Twitter" aria-label="Seguici su Twitter" class="btn btn-xs btn-twitter"><span class="icon"><span class="fa fa-twitter fa-2x"></span></span></a></div>
                                            <div class="btn-group"><a href="https://www.youtube.com/user/UniSaWebTV" data-toggle="tooltip" data-placement="top" title="Seguici su YouTube" aria-label="Seguici su YouTube" class="btn btn-xs btn-google"><span class="icon"><span class="fa fa-youtube fa-2x"></span></span></a></div>
                                            <div class="btn-group"><a href="https://www.instagram.com/unisalerno/" data-toggle="tooltip" data-placement="top" title="Seguici su Instagram" aria-label="Seguici su Instagram" class="btn btn-xs btn-default"><span class="icon"><span class="fa fa-instagram fa-2x"></span></span></a></div>
                                            <div class="btn-group"><a href="https://www.linkedin.com/in/universit%C3%A0-di-salerno/" data-toggle="tooltip" data-placement="top" title="Seguici su Linkedin" aria-label="Seguici su Linkedin" class="btn btn-xs btn-linkedin"><span class="icon"><span class="fa fa-linkedin fa-2x"></span></span></a></div>
                                        </div>
                                        <br>
                                        <div class="btn-group " aria-label="">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <ul class="list-unstyled">
                                    <li><a href="https://wifi.unisa.it/">Wi-Fi</a></li>
                                    <li><a href="https://web.unisa.it/servizi-on-line/spid">SPID</a></li>
                                    <li><a href="https://web.unisa.it/servizi-on-line/e-learning">E-learning</a></li>
                                    <li><a href="https://web.unisa.it/servizi-on-line/rss">Feed RSS</a></li>
                                    <li><a href="https://web.unisa.it/credits/guida-al-portale">Guida al Portale</a></li>
                                    <li><a href="https://web.unisa.it/vivere-il-campus/web-tv">UNISA WEB TV</a></li>
                                    <li><a href="https://web.unisa.it/ateneo/identita-visiva">Identità Visiva</a></li>
                                    <li><a href="http://web.unisa.it/ateneo/accessibilita">Accessibilità</a></li>
                                    <li><a href="http://web.unisa.it/credits">Credits</a></li>
                                    <li><a href="http://web.unisa.it/datimonitoraggio">Dati di monitoraggio</a></li>
                                    <li><a href="https://web.unisa.it/servizi-on-line/sicurezza-on-line">Sicurezza On-Line</a></li>
                                    <li><a href="https://docenti.unisa.it/<%= code%>/home?sitemap">Sitemap</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="list-unstyled">
                                    <li><a href="http://trasparenza.unisa.it/">Amministrazione Trasparente</a></li>
                                    <li><a href="http://web.unisa.it/amministrazione-trasparente/albo">Pubblicità Legale</a><a href="http://web.unisa.it/amministrazione-trasparente/albo"> - Albo Ufficiale</a></li>
                                    <li><a href="https://appalti.unisa.it/PortaleAppalti/it/ppgare_oper_ec_bandi_avvisi.wp" title="Albo Fornitori">Albo Fornitori</a></li>
                                    <li><a href="https://web.unisa.it/home/bandi" title="Bandi, Gare e Opportunità">Bandi, Gare e Opportunità</a></li>
                                    <li><a href="https://www.disabilidsa.unisa.it/">Accoglienza diversamente abili</a></li>
                                    <li><a href="https://web.unisa.it/terza-missione/trasferimento-tecnologico">Area Sportello Start Up Spin Off</a></li>
                                    <li><a href="https://web.unisa.it/merchandising">Merchandising</a></li>
                                    <li><a href="https://web.unisa.it/urp?ascolta=faq#ascolta">Domande Frequenti</a></li>
                                    <li><a href="https://web.unisa.it/urp?ascolta=contatti#ascolta">Segnalazioni e Suggerimenti</a></li>
                                    <li><a href="https://web.unisa.it/sostieniunisa">Donazioni</a></li>
                                    <li><a href="http://web.unisa.it/amministrazione-trasparente/atti-notifica">Atti di Notifica</a></li>
                                    <li><a href="http://web.unisa.it/amministrazione-trasparente/privacy">Privacy</a></li>
                                    <li><a href="http://web.unisa.it/amministrazione-trasparente/note-legali">Note Legali</a></li>
                                    <li><a href="https://web.unisa.it/ateneo/assicurazione-qualita">Assicurazione Qualità</a></li>
                                    <li><a href="https://trasparenza.unisa.it/uploads/rescue/384/3275/piano-strategico-2018-2020.pdf">Piano Strategico</a></li>
                                    <li><a href="http://web.unisa.it/amministrazione-trasparente/siti-tematici">Elenco Siti Tematici</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
							<div resource="https://unisa.it#university" typeof="schema:CollegeOrUniversity">
								<p>
								<span property="schema:legalName">Università degli Studi di Salerno</span> - 
								<div property="schema:location" typeof="schema:Place">
									<div property="schema:address" typeof="schema:PostalAddress">
										<span style="white-space:nowrap;" property="schema:streetAddress">Via Giovanni Paolo II, 132</span> - 
										<span property="schema:postalCode">84084</span> 
										<span property="schema:addressLocality">Fisciano</span> 
										(<span property="schema:addressRegion">SA</span>)
									</div>
								</div>
								</p>
							</div>
                        </div>
                        <div class="col-md-3">
							<div resource="https://unisa.it#university" typeof="schema:CollegeOrUniversity">
								<p>
									<span property="schema:vatID" content="00851300657">P.IVA 00851300657</span> - 
									<span property="schema:taxID" content="80018670655">C.F. 80018670655</span></p>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden"><a href="https://docenti.unisa.it/#unisa-content" accesskey="c">Vai al Contenuto della Pagina</a><a href="https://docenti.unisa.it/#main-menu-collapse-1" accesskey="m">Vai al Menu Principale di Navigazione</a><a href="https://docenti.unisa.it/#unisa-left-menu" accesskey="n">Vai al Menu Secondario di Navigazione</a><a href="javascript:history.go(-1)" accesskey="B">Torna alla Pagina Precedente</a><a href="javascript:print()" accesskey="P">Stampa la Pagina</a></div>
    <link rel="preload" href="https://docenti.unisa.it/rescue/css/print.css" media="print" as="style" onload="this.onload=null;this.rel=&#39;stylesheet&#39;">
    <!--[if lt IE 10]><script type="text/javascript" src="rescue/js/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 10]><script type="text/javascript" src="rescue/js/respond.min.js"></script><![endif]-->
    <script src="js/js.php"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {

                loadCSS("https://fonts.googleapis.com/css?family=Roboto:400,300,100italic,100,300italic ");
                loadCSS("rescue/css/font-awesome.min.css");
                //loadCSS( "rescue/css/unisa-style.min.css" );
                //loadCSS( "rescue/css/print.css" );

            }, 50);
            setTimeout(function() {
                loadCSS("rescue/css/blueimp-gallery.min.css");
                loadCSS("rescue/assets/scrollup/css/image.min.css");
                loadCSS("rescue/assets/animate/css/animatefade.min.css");
                loadCSS("rescue/css/academicons.min.css");

                $(".commented-container-css").uncomment();

            }, 2500);
        });
    </script>
    <link href="css/event-list.css" media="screen" property="stylesheet" rel="stylesheet" type="text/css">
    <script src="js/jquery.qrcode-0.12.0.min.js"></script>
    <!--<script src="js/js.js"></script>-->
    <!--<script type="text/javascript" src="js/edifici.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#nome").focus();
            $("#nome").select();

            $(".qr-wrapper").each(function() {

                $(this).children(".qr").qrcode({
                    "color": "#DDD",
                    "size": "100",
                    "text": $(this).children(".vcard").text()
                });

            });

        });

        $("#nome").typeahead({
            display: "name",
            autoSelect: false,
            onSelect: function(item) {
                if (typeof item.value != "undefined")
                    document.location.href = "http://rubrica.unisa.it/persone?matricola=" + item.value;
                else {
                    document.location.href = "http://rubrica.unisa.it/persone?nome=" + $("#nome").val();
                }
            },
            ajax: {
                url: "/unisa-rescue-page/ajax/case/rubrica",
                triggerLength: 3,
                displayField: "name"
            },
            items: 20
        });
    </script>
    <div class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">×</button>
                    <h4 class="modal-title">-</h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev"><span class="glyphicon glyphicon-chevron-left"></span>Precedente</button>
                    <button type="button" class="btn btn-primary next">Successiva<span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-snap-ignore="true" aria-hidden="true">
        <div class="slides"></div>
        <h3 class="title">-</h3><a class="prev">‹</a><a class="next">›</a><a class="close">×</a>
        <a class="play-pause"></a>
        <div class="indicator"></div>
    </div>
	<a id="scrollUp" href="#top" aria-label="Top" style="display: none; position: fixed; z-index: 2147483647;"><span class="fa fa-arrow-up"></span></a>
    <link rel="stylesheet" href="css/css.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="css/blueimp-gallery.min.css" media="all">
    <link rel="stylesheet" href="css/image.min.css" media="all">
    <link rel="stylesheet" href="css/animatefade.min.css" media="all">
    <link rel="stylesheet" href="css/academicons.min.css" media="all">
</body>
</html>